*{
    padding: 0;
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
body{
    text-align: center;
}
h1{
    margin: 16px;
    color: #113b49;
}

hr{
    margin: auto;
    width: 469px;
    color: #113b49;
}

#result{
    color: #b73a5c;
    height: 49px;
    margin-top: 9px;
}

div{
    margin: auto;
    width:450px;
    height: 50px;
}
.tile{
    width: 45px;
    height: 48px;
    border: 2px solid blue;
    border-radius: 3px;
    /*text*/
    font-size: 20px;
    font-weight: bold;
    color: #5b8291;
    text-align: center;
}

.btn{
    margin-top: 43px;
}